@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right,#F2F2F2, #D9C2AD);
}

main { 
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;  
    border-radius: 10px;
    box-shadow: 5px 5px 15px #71736a91;
}

h1 {
    color: #71736A;
    text-align: center;
    text-shadow: 1px 1px 2px #393a35;
}

h2 {
    color: #A6A28F;
}

p {
    text-align: justify;
}